.App {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  color: #5e5e5e;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: url(../assets/white_wall_hash.png) repeat;
}

header {
  font-size: 5rem;
  padding: 2rem 0;
  text-align: center;
  border-bottom: 1px solid #5e5e5e;
}

p {
  font-size: 2rem;
}